<section class="choose">
  <div class="choose-plan">
    <h2 class="content__plans-title content__plans-title--choose">I am looking for</h2>

    <div class="content__plans-plan content-section" data-choose-plan="love">
      <div class="content__plans-header content__plans-header--love">
        <h3 class="content__plans-header__title">
          Love
        </h3>
        <button class="plan-btn btn">Choose</button>
      </div>

      <p class="content__plans-description">
        Lorem ipsum dolor sit amet, consecteturis adipiscing elit se do eiusmod temporata
        incididunt ut labore et dolore magna aliqu. Ullamcorper malesuada consequat
        proin placerat vestibulum lectus mauris ultrices.
      </p>
    </div>

    <div class="content__plans-plan content-section" data-choose-plan="friends">
      <div class="content__plans-header content__plans-header--friends">
        <h3 class="content__plans-header__title">
          Friends
        </h3>
        <button class="plan-btn btn">Choose</button>
      </div>

      <p class="content__plans-description">
        Lorem ipsum dolor sit amet, consecteturis adipiscing elit se do eiusmod temporata
        incididunt ut labore et dolore magna aliqu. Ullamcorper malesuada consequat
        proin placerat vestibulum lectus mauris ultrices.
      </p>
    </div>

    <div class="content__plans-plan content-section" data-choose-plan="work">
      <div class="content__plans-header content__plans-header--work">
        <h3 class="content__plans-header__title">
          Work
        </h3>
        <button class="plan-btn btn">Choose</button>
      </div>

      <p class="content__plans-description">
        Lorem ipsum dolor sit amet, consecteturis adipiscing elit se do eiusmod temporata
        incididunt ut labore et dolore magna aliqu. Ullamcorper malesuada consequat
        proin placerat vestibulum lectus mauris ultrices.
      </p>
    </div>
  </div>

</section>
