<section class="choose">
  <section class="choose-plan">
    <h2 class="content__plans-title content__plans-title--choose">I am looking for</h2>

    <section class="content__plans-plan content-section">
      <div class="content__plans-header content__plans-header--love">
        <h3 class="content__plans-header__title">
          Love
        </h3>
        <button class="plan-btn btn">Choose</button>
      </div>

      <p class="content__plans-description">
        Lorem ipsum dolor sit amet, consecteturis adipiscing elit se do eiusmod temporata
        incididunt ut labore et dolore magna aliqu. Ullamcorper malesuada consequat
        proin placerat vestibulum lectus mauris ultrices.
      </p>
    </section>

    <section class="content__plans-plan content-section">
      <div class="content__plans-header content__plans-header--friends">
        <h3 class="content__plans-header__title">
          Friends
        </h3>
        <button class="content__plans-header__btn btn">Choose</button>
      </div>

      <p class="content__plans-description">
        Lorem ipsum dolor sit amet, consecteturis adipiscing elit se do eiusmod temporata
        incididunt ut labore et dolore magna aliqu. Ullamcorper malesuada consequat
        proin placerat vestibulum lectus mauris ultrices.
      </p>
    </section>

    <section class="content__plans-plan content-section">
      <div class="content__plans-header content__plans-header--work">
        <h3 class="content__plans-header__title">
          Work
        </h3>
        <button class="content__plans-header__btn btn">Choose</button>
      </div>

      <p class="content__plans-description">
        Lorem ipsum dolor sit amet, consecteturis adipiscing elit se do eiusmod temporata
        incididunt ut labore et dolore magna aliqu. Ullamcorper malesuada consequat
        proin placerat vestibulum lectus mauris ultrices.
      </p>
    </section>
  </section>

  <section class="choose-price">
    <form action="#" class="choose-price__form">

      <div class="choose-price__offer">
        <input type="radio" id="price-offer--monthly" value="monthly" name="price-offer">
        <label for="choose-price__monthly">
          <h3 class="choose-price__title">Monthly</h3>
          <span class="choose-price__price">$7 per month</span>
        </label>
      </div>

      <p class="choose-price__description">
        Lorem ipsum dolor sit amet, consecteturis aip
        iscing elit se do eiusmod temporata incididunt
        ut labore et dolore magna aliqu.
      </p>

      <input type="submit" value="Continue" class="btn choose-price__btn">
    </form>
  </section>
</section>
