<div class="content-section selected-plan--friends" data-selected-plan="friends">


  <p class="content__plans-title selected-plan__title">Find friends</p>



    <div class="profile__plan-container">

      <div class="profile__plan-row">
        <p class="profile__plan-subtitle">
          Your subscription is:
        </p>
      </div>

      <div class="profile__plan-row">
        <h2 class="profile__plan-title">
          <svg class="plan-svg">
            <use xlink:href="img/sprite.svg#friends"></use>
          </svg>
          Friends
        </h2>

        <button class="selected-plan__edit" aria-label="Edit plan details">
          <svg class="edit-svg">
              <use xlink:href="img/sprite.svg#edit-pen"></use>
            </svg>
        </button>

        <button type="submit" form="work-form" class="plan-btn btn form-submit hidden" >Confirm</button>
      </div>

      <div class="profile__plan-row">
        <p class="content__plans-description selected-plan__description">
          Please provide us some information, so we'll be able to provide you the best matches.
          <br>
          Fill in the field “My relationship goals” and choose your preferable gender.
        </p>
      </div>

      <div class="selected-plan__details">

        <div class="profile__plan-row">
          <dt class="profile__info-subtitle">About me:</dt>
          <dd class="profile__info-content" data-field="friends_description"></dd>
        </div>
      </div>

      <form action="#" name="friends-form" id="friends-form" class="selected-plan__form hidden">

        <h4 class="profile__info-subtitle selected-plan__form-title">About me:</h4>

        <textarea
          name="friends_description"
          id="friends-form__about"
          cols="100"
          rows="10"
          class="edit-field__input"
          placeholder="Write something here..."></textarea>
      </form>

    </div>

  <button class="profile__info-btn btn selected-plan__change">Change Plan</button>
</div>
