<div class="content-section selected-plan--friends" data-selected-plan="friends">

  <h2 class="content__plans-title selected-plan__title">Find friends</h2>

  <div class="content__plans-header content__plans-header--friends">
    <h3 class="content__plans-header__title">
      Friends
    </h3>
    <button type="submit" form="friends-form" class="plan-btn btn">Confirm</button>
  </div>

  <p class="content__plans-description selected-plan__description">
    Please provide us more information, so we'll be able to provide you the best matches.
    <br>
    Fill in the field “About you” and choose your hobbies.
  </p>

  <form action="#" name="friends-form" id="friends-form" class="selected-plan__form">

    <h4 class="profile__info-subtitle selected-plan__form-title">About me:</h4>

    <textarea
      name="friends-form__about"
      id="friends-form__about"
      cols="100"
      rows="10"
      class="edit-field__input">Lorem ipsum dolor sit amet, consecteturis adipiscing elit se do eiusmod temporati incididunt ut labore et dolore magna aliqu. Ullamcorper malesuada consequat proin. Ornare massa eget egestas purus viverra accumsan in nisl nisi.
    </textarea>
  </form>

</div>
