<div class="content-section selected-plan--love love" data-selected-plan="love">

  <h2 class="content__plans-title selected-plan__title">
    Find love
  </h2>

  <div class="content__plans-header content__plans-header--love">
    <h3 class="content__plans-header__title">
      Love
    </h3>
    <button
      type="submit"
      form="love-form"
      class="plan-btn btn form-submit">Confirm</button>
  </div>

  <p class="content__plans-description selected-plan__description">
    Please provide us more information, so we’ll be able to provide you the best matches.
    <br>
    Fill in the field “My relationship goals” and choose your preferable gender.
  </p>

  <form action="#" name="love-form" id="love-form" class="selected-plan__form">

    <fieldset>
      <h4 class="profile__info-subtitle selected-plan__form-title">
        Preferable gender:
      </h4>

      <div class="radio-input love-form__gender">
        <input
          type="radio"
          name="preferable_gender"
          id="prefer-gender-male"
          value="male">
        <label for="prefer-gender-male" class="edit-field__input">male</label>

        <input type="radio"
          name="preferable_gender"
          id="prefer-gender-female"
          value="female">
        <label for="prefer-gender-female" class="edit-field__input">female</label>
      </div>
    </fieldset>

    <fieldset>
      <h4 class="profile__info-subtitle selected-plan__form-title">My relationship goals:</h4>

      <textarea
        name="love_description"
        id="love-form__about"
        class="edit-field__input"
        placeholder="Write something here..."></textarea>
    </fieldset>

    <fieldset>
      <h4 class="profile__info-subtitle selected-plan__form-title">
        Preferable age:
      </h4>

      <div class="radio-input love-form__age">
        <input
          type="radio"
          name="preferable_age"
          id="prefer-age-1"
          value="18-25">
        <label for="prefer-age-1" class="edit-field__input">18-25</label>

        <input type="radio"
          name="prefer-age"
          id="prefer-age-2"
          value="30-45">
        <label for="prefer-age-2" class="edit-field__input">30-45+</label>

        <input type="radio"
          name="prefer-age"
          id="prefer-age-3"
          value="60">
        <label for="prefer-age-3" class="edit-field__input">60</label>

        <input type="radio"
          name="prefer-age"
          id="prefer-age-4"
          value="26-30">
        <label for="prefer-age-4" class="edit-field__input">female</label>

      </div>
    </fieldset>
  </form>

</div>
