.avatar__form {
  background-color: var(--light-color);
  overflow: hidden;
  transition: background-color 0.3s;
  cursor: pointer;

  @include hover {
    background-color: var(--bd-sign-in);
  }

  input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: 50;
    cursor: pointer;
  }

  &-svg {
    fill: var(--accent-color);
  }

  &-text {
    max-width: rem(175);
    font-weight: 400;
    font-size: var(--fs-app-text);
    line-height: 1.7;
    color: var(--grey-color);
    text-align: center;
  }

  &--small {
    position: absolute;
    // bottom: calc(25px + var(--swiper-padding-bottom) + var(--swiper-pagination-size));
    right: 22px;
    bottom: 22px;
    z-index: 10;
    border-radius: 50%;
  }

  &--small &-container {
    width: 46px;
    height: 46px;
    display: grid;
    place-items: center;
    background-color: var(--light-color);
  }

  &--small &-svg {
    display: block;
    width: 18px;
    height: 18px;
  }

  &--small &-text {
    display: none;
  }

  // full size input form
  &--large {
    margin-top: 28px;
    padding-bottom: 55px;
    max-width: 100%;
    width: 360px;
    height: 360px;
    display: grid;
    align-items: end;
    border: 2px dashed var(--bd-avatar-edit);
    border-radius: 10px;

    & input {
      inset: 0;
    }
  }

  &--large &-container {
    display: grid;
    justify-items: center;
    gap: 86px;
  }

  &--large &-svg {
    width: 44px;
    height: 44px;
  }
}
