.chat {
  display: grid;
  grid-template-columns: 1fr 440px;

  &__opponent {
    padding-top: 32px;
    border-left: 1px solid var(--bd-profile-separator);
  }

  &__header {
    padding-block: 22px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--light-color);
    border-bottom: 1px solid var(--bd-profile-separator);
  }

  &__info {
    font-size: var(--fs-profile-subtitle);
  }

  &__chatbox {
    height: 100%;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__date-separator {
    position: relative;
    padding-block: 33px;
    text-align: center;
    color: var(--grey-color);

    & span {
      display: inline-block;
      position: relative;
      padding-inline: 24px;
      background-color: var(--light-bg-color);
      z-index: 2;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: var(--bd-message);
    }
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.chat-form {
  padding-block: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 23px;
  background-color: var(--light-color);

  &__input {
    height: 100%;
    flex-grow: 1;
  }

  &__smiles {
    width: 24px;
    height: 24px;
  }

  &__svg {
    width: 100%;
    height: 100%;
    background-color: transparent;
    fill: red;
  }
}

.message__img {
  width: 55px;
  height: 55px;
}
