.chatbox {
  padding-top: 100px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  flex-direction: column;


&__content {
  padding-top: 27px;
  max-height: 100dvh;
  flex-grow: 1;
  overflow-y: scroll;
}

&__day {
  margin-bottom: 33px;

  &-title {
    position: relative;
    margin-bottom: 32px;
    text-align: center;
    color: var(--grey-color);

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: var(--bd-message);
    }
  }

  &-timestamp {
    display: inline-block;
    position: relative;
    padding-inline: 24px;
    padding-top: 6px;
    padding-bottom: 9px;
    background-color: var(--light-bg-color);
    z-index: 2;
  }
}

&__message {
  display: grid;
  align-items: center;
  gap: 10px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &-text {
    padding-inline: 16px;
    padding-block: 12px;
    font-weight: 400;
    font-size: var(--fs-app-text);
    line-height: 1.6;
    border-radius: 10px;
  }

  &--incoming {
    padding-left: 71px;
    position: relative;
    justify-content: start;

    & .chat__avatar {
      position: absolute;
      bottom: 0;
    }

    & .chatbox__message-text {
      background-color: var(--light-color);
      border-bottom-left-radius: 2px;

      &:not(:first-child) {
        border-top-left-radius: 2px;
      }
    }
  }

  &--outgoing {
    justify-content: end;

    & .chatbox__message-text {
      color: var(--light-color);
      background-color: var(--plan-color, var(--olive-dark-color));
      border-bottom-right-radius: 2px;

      &:not(:first-child) {
        border-top-right-radius: 2px;
      }
    }
  }
}
}
