.chat-header {
  position: absolute;
  width: 100%;
  padding-block: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: var(--light-color);
  border-bottom: 1px solid var(--bd-profile-separator);
  z-index: 5;

  &__info {
    font-size: var(--fs-profile-subtitle);
  }

  &__match-date {
    font-weight: 700;
  }

  &__close {
    transform: rotate(180deg);
    border: 1px solid var(--grey-color);
  }
}
