.chat-form {
  position: fixed;
  bottom: 0;
  padding-block: 20px;
  width: 100%;
  max-width: 632px;
  display: flex;
  align-items: center;
  gap: 23px;
  background-color: var(--light-color);
  z-index: 50;

  &__input {
    height: 100%;
    flex-grow: 1;
    border: none;
    outline: none;
    resize: none;
    font-weight: 400;
    font-size: var(--fs-app-text);
    line-height: 1.6;
  }

  &__smiles {
    width: 24px;
    height: 24px;
  }

  &__svg {
    width: 100%;
    height: 100%;
    background-color: transparent;
    fill: var(--grey-color);
  }
}
