.love {
  --plan-color: var(--love-color-light);
  --plan-color-dark: var(--love-color-dark)
}

.friends {
  --plan-color: var(--friends-color);
}

.work {
  --plan-color: var(--work-color);
}

.btn {
  color: var(--light-color);
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--olive-dark-color);
  }
}

.plan-btn {
  height: 40px;
  padding-block: 11px;
  padding-inline: 24px;
  font-family: var(--font-sailec);
  font-weight: 400;
  font-size: var(--fs-0-5);
  color: var(--light-color);
  background-color: var(--dark-color);
}

.offset-container {
  padding-inline: var(--container-offset);
}

.hidden {
  display: none !important;
}

.edit-field__input {
  padding-inline: 21px;
  height: 40px;
  max-width: 100%;
  font-family: var(--font-sailec);
  font-weight: 400;
  font-size: var(--fs-profile-placeholder);
  background-color: var(--light-color);
  border: 1px solid var(--bd-profile-edit);
  border-radius: 4px;
  &:focus-visible {
    outline: solid var(--plan-color, var(--accent-color)) 1px;
  }
}

.radio-input {
  // define color
  --fill-color: var(--plan-color, var(--accent-color));

  position: relative;
  display: flex;

  label {
    text-transform: uppercase;
    flex-basis: 100%;
    display: grid;
    place-content: center;
  }

  input[type="radio"] {
    appearance: none;
    position: absolute;
  }

  input:checked + label {
    color: var(--light-color);
    background-color: var(--fill-color);
  }
}
