.content__plans {
  width: 100%;
  height: 100%;

  &-title {
    font-family: var(--font-nebulous);
    font-weight: 400;
    font-size: var(--fs-content-title);

    &--choose {
      margin-bottom: 44px;
    }

    &--meet {
      margin-bottom: 38px;
      text-align: center;
    }
  }

  &-header {
    margin-bottom: 25px;
    padding-left: 17px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--love {
      --plan-color: var(--love-color);
    }

    &--friends {
      --plan-color: var(--friends-color);
    }

    &--work {
      --plan-color: var(--work-color);
    }

    &__title {
      font-family: var(--font-nebulous);
      font-weight: 400;
      font-size: var(--fs-content-subtitle);
      line-height: 32px;
    }

    &__btn {
      height: 40px;
      padding-block: 11px;
      padding-inline: 24px;
      font-family: var(--font-sailec);
      font-weight: 400;
      font-size: var(--fs-0-5);
      color: var(--light-color);
      background-color: var(--dark-color);
    }

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 100%;
      left: 0;
      border-radius: 2px;
      background-color: var(--plan-color);
    }


  }

  &-plan:not(:last-of-type) {
    margin-bottom: 26px;
  }

  &-description {
    padding-left: 17px;
    max-width: 500px;
    font-weight: 40;
    font-size: var(--fs-app-text);
    line-height: 1.7;
  }
}
