.find {
  padding: 15px;
  height: 100%;
  max-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  &__container {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: 100%;
    max-height: min(620px, 75dvh);
    border: 1px solid var(--bd-plans-separator);
    border-radius: 10px;
    overflow: hidden;

    &.nomatches {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-orbitron);
      font-size: var(--fs-content-title);
    }
  }

  &__match {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in;

    &:not(:first-of-type) {
      display: none;
    }

    &.liked {
      transform: translateX(100%);
    }

    &.disliked {
      transform: translateX(-100%);
    }
  }

  &__swiper {
    --swiper-pagination-color: var(--plan-color, var(--olive-dark-color));
    --swiper-pagination-bullet-width: 140px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-inactive-color: var(--light-color);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 5px;
    --swiper-pagination-bullet-border-radius: 10px;

    width: 100%;
    height: 100%;

    & .find__swiper-pagination {
      height: max-content;
      position: absolute;
      top: 13px;
      display: flex;
      justify-content: center;
      z-index: 50;
    }

    .swiper-slide {
      position: relative;
    }
  }

  &__photo {
    height: 100%;
    user-select: none;
  }

  &__info {
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    display: grid;
    place-items: center;
    color: var(--light-color);
    z-index: 50;
    transition: height 0.3s;

    background-image: linear-gradient(
      180deg,
      hsl(0deg 0% 0% / 1%) 0%,
      hsl(0deg 0% 0% / 15%) 15%,
      hsl(0deg 0% 6% / 97%) 50%,
      hsl(0deg 0% 0% / 100%) 100%
    );

    &-btn {
      width: 30px;
      height: 20px;
      align-self: end;
      border: 1px solid var(--grey-color);
      border-radius: 5px;
      opacity: 0.9;
    }

    &-svg {
      width: 100%;
      height: 100%;
      fill: var(--bd-message);
      transform: rotate(-90deg);
    }

    &.opened {
      height: 95%;

      & .find__info-svg {
        transform: rotate(90deg);
      }

      & .find__description {
        display: block;
        overflow-y: scroll;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: var(--font-nebulous);
    font-weight: 400;
    font-size: var(--fs-app-match-title);
  }

  &__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    padding-right: 10px;
    max-width: 310px;
    max-height: 80%;
    margin-bottom: 31px;
    font-weight: 400;
    font-size: var(--fs-app-text);
    line-height: 1.7;
    text-align: justify;
    text-align-last: center;
  }

  &__controls {
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;

    &-btn {
      position: relative;
      z-index: 100;
      cursor: pointer;
      user-select: none;
    }
  }

  &__svg-nav {
    width: 52px;
    height: 52px;
    stroke: var(--light-color);
    stroke-width: 2px;
    fill: none;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
  }

  &__swiper-button-prev {
    left: 20px;
  }

  &__swiper-button-next {
    right: 20px;
  }
}
