.find {
  padding: 15px;
  height: 100%;
  max-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  &__container {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: 100%;
    max-height: 90dvh;
    border: 1px solid var(--bd-plans-separator);
    border-radius: 10px;
    overflow: hidden;
  }

  &__swiper {
    --swiper-pagination-color: var(--plan-color, var(--olive-dark-color));
    --swiper-pagination-bullet-width: 140px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-inactive-color: var(--light-color);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 5px;
    --swiper-pagination-bullet-border-radius: 10px;

    width: 100%;
    height: 100%;

    & .find__swiper-pagination {
      height: max-content;
      position: absolute;
      top: 13px;
      display: flex;
      justify-content: center;
      z-index: 50;
    }

    .swiper-slide {
      position: relative;
    }

    .swiper-slide::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      z-index: 5;
      width: 100%;
      height: 40%;

      background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 0% / 0%) 0%,
        hsl(0deg 0% 0% / 1%) 1%,
        hsl(0deg 0% 0% / 2%) 2%,
        hsl(0deg 0% 0% / 3%) 3%,
        hsl(0deg 0% 0% / 5%) 5%,
        hsl(0deg 0% 0% / 8%) 6%,
        hsl(0deg 0% 0% / 10%) 8%,
        hsl(0deg 0% 0% / 30%) 10%,
        hsl(0deg 0% 0% / 40%) 12%,
        hsl(0deg 0% 0% / 50%) 15%,
        hsl(0deg 0% 0% / 60%) 18%,
        hsl(0deg 0% 0% / 70%) 21%,
        hsl(0deg 0% 0% / 75%) 25%,
        hsl(0deg 0% 0% / 80%) 30%,
        hsl(0deg 0% 0% / 85%) 35%,
        hsl(0deg 0% 0% / 90%) 41%,
        hsl(0deg 0% 0% / 93%) 48%,
        hsl(0deg 0% 0% / 95%) 57%,
        hsl(0deg 0% 6% / 97%) 65%,
        hsl(0deg 0% 0% / 100%) 100%
      );
    }
  }

  &__photo {
    height: 100%;
    user-select: none;
  }

  &__info {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: grid;
    place-items: center;
    color: var(--light-color);
    z-index: 50;
  }

  &__title {
    font-family: var(--font-nebulous);
    font-weight: 400;
    font-size: var(--fs-app-match-title);
  }

  &__description {
    max-width: 361px;
    margin-bottom: 31px;
    font-weight: 400;
    font-size: var(--fs-app-text);
    line-height: 1.7;
    text-align: justify;
    text-align-last: center;
  }

  &__controls {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;

    &-btn {
      position: relative;
      z-index: 100;
      cursor: pointer;
      user-select: none;
    }
  }

  &__svg-nav {
    width: 52px;
    height: 52px;
    stroke: var(--light-color);
    stroke-width: 2px;
    fill: none;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    cursor: pointer;
  }

  &__swiper-button-prev {
    left: 20px;
  }

  &__swiper-button-next {
    right: 20px;
  }
}
