.SF-3 {
  font-family: var(--font-family);
  font-weight: 300;
}
.SF-4 {
  font-family: var(--font-family);
  font-weight: 400;
}
.SF-5 {
  font-family: var(--font-family);
  font-weight: 500;
}
.SF-6 {
  font-family: var(--font-family);
  font-weight: 600;
}
.SF-7 {
  font-family: var(--font-family);
  font-weight: 700;
}
.nebulos {
  font-family: var(--second-family);
  font-weight: 400;
}
.inter {
  font-family: var(--third-family);
  font-weight: 400;
}
.sailec {
  font-family: var(--font3);
  font-weight: 400;
}
.orbitron {
  font-family: var(--font4);
  font-weight: 600;
}
