.hero {
  padding-bottom: 15px;
  flex-grow: 1;
  color: var(--light-color);
  display: flex;
  align-items: center;

  &__container {
    display: grid;
    justify-items: center;
    gap: 54px;
  }

  &__title {
    margin: 0;
    font-family: var(--font-nebulous);
    font-size: rem(88);
    line-height: 80%;
    letter-spacing: -0.018em;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    max-width: 45%;
    text-align: center;
    font-family: var(--font-sf);
    font-size: 1rem;
    line-height: 1.5;
  }

  &__btns {
    display: flex;
    gap: 29px;

    & > * {
      width: 180px;
      height: 60px;
      display: grid;
      place-content: center;
      font-weight: 600;
      font-size: rem(14);
    }

    &-about {
      color: var(--dark-color);
      background-color: var(--light-color);

      @include hover {
        background-color: hsl(0, 0%, 85%);
      }
    }

    &-signin {
      background-color: var(--btn-olive-color);
    }

    &-try {
      position: relative;

      // styles for gradient button

      // background-image:
      //   linear-gradient(to right,
      //     hsl(338, 78%, 51%),
      //       hsl(205, 94%, 53%));

      // & span {
      //   position: relative;
      //   z-index: 5;
      // }

      // &::after {
      //   content: '';
      //   position: absolute;
      //   inset: 0;
      //   background-color: rgba(0, 0, 0, 0);
      //   transition: background-color 0.3s;
      // }

      // &:hover::after{
      //     background-color: rgba(0, 0, 0, 0.2);
      // }
    }
  }
}
