.matches-tab {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  &__item {
    position: relative;
    width: 110px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__btn {
    opacity: 1;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      z-index: 5;
      width: 100%;
      height: 60%;
      background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 0% / 0%) 0%,
        hsl(0deg 0% 0% / 70%) 60%,
        hsl(0deg 0% 0% / 100%) 100%
      );
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__name {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-nebulous);
    font-weight: 400;
    font-size: var(--fs-profile-subtitle);
    line-height: 1.75;
    color: var(--light-color);
    z-index: 10;
  }
}
