.profile {
  &__header {
    margin-bottom: 28px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light-color);
    background-color: var(--plan-color-dark, var(--plan-color, var(--olive-dark-color)));
  }

  &__nav {
    display: flex;
    gap: 18px;
  }
}
