.profile__info {
  &-input {
    padding-inline: 21px;
    height: 40px;
    font-family: var(--font-sailec);
    font-weight: 400;
    font-size: var(--fs-profile-placeholder);
    background-color: var(--light-color);
    border: 1px solid var(--bd-profile-edit);
    border-radius: 4px;
    &:focus-visible {
      outline: solid var(--accent-color) 1px;
    }
  }

  .edit-field {

    &:not(:first-of-type) {
      margin-bottom: 21px;
    }

    &:first-of-type {
      margin-bottom: 27px;
    }

    &#profile-title {
      display: block;

      & p {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        #profile-name-edit {
          flex-grow: 1;
        }

        #profile-age-edit {
          padding-right: 0;
          flex-shrink: 1;
          flex-basis: 125px;
          min-width: 80px;
        }
      }
    }

    &#profile-about {
      display: grid;

      textarea {
        padding-top: 15px;
        height: 123px;
        color: var(--fs-profile-placeholder);
      }
    }

    &#profile-gender {
      display: flex;
      position: relative;
      gap: 10px;

      h4 {
        margin-right: auto;
      }

      label {
        width: 129px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
      }

      input[type="radio"] {
        appearance: none;
        position: absolute;
      }

      input:checked + label {
        color: var(--light-color);
        background-color: var(--plan-color, var(--accent-color));
      }

      // solution for the opposite order label+input. Browser support lower
      // label:has(+ input:checked) {
      //   color: var(--light-color);
      //   background-color: var(--accent-color);
      // }

    }

    &#profile-motherland,
    &#profile-location,
    &#profile-languages {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      h4 {
        flex-shrink: 0;
      }

      .profile__info-input {
        flex-shrink: 1;
      }
    }
  }
}
