// scrollbar styles

@supports selector(::-webkit-scrollbar) {
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body::-webkit-scrollbar-track {
    margin-block: 0.5rem;
    background-color: var(--bd-sign-in);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border: 2px solid var(--bd-sign-in);
    border-radius: 10px;
  }

  .chatbox__content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  .chatbox__content::-webkit-scrollbar-track {
    margin-block: 0.5rem;
    background-color: var(--bd-sign-in);
    border-radius: 10px;
  }

  .chatbox__content::-webkit-scrollbar-thumb {
    background-color: var(--plan-color, var(--accent-color));
    border: 1px solid var(--bd-sign-in);
    border-radius: 10px;
  }
}
