.selected-plan {
  padding-top: 235px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: start;

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &__description {
    padding-bottom: 32px;
    color: var(--grey-color);
    border-bottom: 1px solid var(--bd-plans-separator);
  }
}
