.sign-in-form {
  padding-top: 56px;

  &__field {
    display: grid;
    gap: 14px;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 1rem;
  }

  &__input {
    width: 100%;
    padding-inline: 31px;
    padding-block: 22px;
    border: 1px solid var(--bd-color);
    border-radius: 5px;
  }

  &__btn {
    width: 100%;
    padding-block: 22px;
    font-weight: 700;
    font-size: 1rem;

    &--google,
    &--fb {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 19px;
      font-weight: 600;
      color: var(--dark-color);
      border: 1px solid var(--bd-color);
      border-radius: 5px;
      background-color: transparent;
      transition: border-color 0.3s;

      &:hover {
        border-color: var(--dark-color);
      }
    }
  }

  &__hr {
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #4285F4;
    border-radius: 50%;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 189px;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--bd-color);
    }

    &::before {
      left: calc(10px + 16px);
    }

    &::after {
      right: calc(10px + 16px);
    }
  }

  &--log-in {
    .sign-in-form__btn {
      margin-bottom: 30px;
    }
  }
}
