.sign-in-modal {
  background-color: transparent;
  transition: height 0.3s;

  .graph-modal__container {
    --modal-width: 580px;
    --modal-padding-inline: 80px;

    width: var(--modal-width);
    padding-inline: var(--modal-padding-inline);
    padding-block: 53px;
  }
}
