<!-- "avatar__form--large" suppose profile does not have an avatar photo -->
<form action="#" name="avatar__form" class="avatar__form avatar__form--large">

    <div class="avatar__form-container">
      <svg class="avatar__form-svg" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="19" width="6" height="44" rx="1" fill="#4285F4"/>
        <rect width="6" height="44" rx="1" transform="matrix(0 -1 -1 0 44 25)" fill="#4285F4"/>
      </svg>


      <input type="file" accept="image/*" multiple name="avatar-upload" id="avatar-upload">

      <label for="avatar-upload" class="avatar__form-text">
        Press here to add you avatar and additional photos
      </label>
    </div>

  </form>

