<div class="offset-container">
  <div class="profile__info">

    <form action="#" name="profile__info-form" class="profile__info-form hidden">

      <div class="profile__info-field profile__info-formfield">
        <label for="profile-name-edit" class="profile__info-subtitle">Your name:</label>

        <input
          type="text"
          name="full_name"
          id="profile-name-edit"
          class="edit-field__input"
          placeholder="Enter your full name here"
          required>
      </div>

      <div class="profile__info-field profile__info-formfield">
        <label for="profile-age-edit" class="profile__info-subtitle">Your age:</label>

        <input
          type="number"
          min="16"
          max="150"
          name="age"
          id="profile-age-edit"
          class="edit-field__input"
          placeholder="Your age"
          required>
      </div>

      <div class="profile__info-field profile__info-formfield">
        <label for="profile-about-edit" class="profile__info-subtitle">About me:</label>
        <textarea
          name="about_me"
          id="profile-about-edit"
          cols="100"
          rows="10"
          class="edit-field__input"
          placeholder="Write about you here"></textarea>
      </div>

      <div class="profile__info-field profile__info-formfield profile__info-formfield--gender">
        <p class="profile__info-subtitle">Gender:</p>

        <!-- the order matters: input + label for previous input -->
        <input
          type="radio"
          name="gender"
          id="profile-gender-male"
          value="male">
        <label for="profile-gender-male" class="edit-field__input">male</label>

        <input type="radio"
          name="gender"
          id="profile-gender-female"
          value="female">
        <label for="profile-gender-female" class="edit-field__input">female</label>

      </div>

      <div class="profile__info-field profile__info-formfield">
        <label for="profile-birth_place-edit" class="profile__info-subtitle">Place of birth:</label>

        <input
          type="text"
          name="birth_place"
          id="profile-birth_place-edit"
          class="edit-field__input"
          placeholder="Enter your place of birth">
      </div>

      <div class="profile__info-field profile__info-formfield">
        <label for="profile-location-edit" class="profile__info-subtitle">Location:</label>

        <input
          type="text"
          name="location"
          id="profile-location-edit"
          class="edit-field__input"
          placeholder="Enter your location">
      </div>

      <div class="profile__info-field profile__info-formfield">
        <label for="profile-languages-edit" class="profile__info-subtitle">Languages:</label>

        <input
          type="text"
          name="languages"
          id="profile-languages-edit"
          class="edit-field__input"
          placeholder="Enter languages you know">
      </div>

      <button type="submit" class="btn profile__info-btn" id="profile-form-save">Save Profile Info</button>

    </form>

    <dl class="profile__info-description">

      <div class="profile__info-field" id="profile-title">
        <dt class="visually-hidden">Profile name and age</dt>
        <dd class="profile__info-title" data-field="title">
          <span id="profile-name" data-field="full_name">Alex Brandt</span>,
          <span id="profile-age" data-field="age">31</span>
        </dd>

        <button class="profile__info-edit" aria-label="Edit profile" id="info-edit-btn">
        <svg class="edit-svg">
            <use xlink:href="img/sprite.svg#edit-pen"></use>
          </svg>
        </button>
      </div>

      <div class="profile__info-field" id="profile-about">
        <dt class="profile__info-subtitle">About me:</h4>
        <dd class="profile__info-content" data-field="about_me">
          Lorem ipsum dolor sit amet, consecteturis adipiscing elit se
          do eiusmod temporata incididunt ut labore et dolore magna
          aliqu. Ullamcorper malesuada consequat proin.
        </dd>
      </div>

      <div class="profile__info-field" id="profile-gender">
        <dt class="profile__info-subtitle">Gender:</dt>
        <dd class="profile__info-content" data-field="gender">
          Male
        </dd>
      </div>

      <div class="profile__info-field" id="profile-motherland">
        <dt class="profile__info-subtitle">Place of birth:</dt>
        <dd class="profile__info-content" data-field="birth_place">
          London, UK
        </dd>
      </div>

      <div class="profile__info-field" id="profile-location">
        <dt class="profile__info-subtitle">Location:</h4>
        <dd class="profile__info-content" data-field="location">
          Frankfurt, Germany
        </dd>
      </div>

      <div class="profile__info-field" id="profile-languages">
        <dt class="profile__info-subtitle">Languages:</dt>
        <dd class="profile__info-content" data-field="languages">
          English, German, French
        </dd>
      </div>

    </dl>

    <button class="btn profile__info-btn" id="profile-logout">Log Out</button>

  </div>
</div>
