<section class="find">
  <div class="find__container">

    <div class="find__match hidden" data-match-id="1">
      <div class="swiper">
      <!-- <div class="swiper find__swiper"> -->

        <div class="find__swiper-pagination"></div>

        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <picture class="find__photo">
              <source srcset="./img/match.webp" type="image/webp">
              <img loading="lazy" src="./img/match.jpg" class="image" width="480" height="651" alt="photo">
            </picture>
          </div>

          <div class="swiper-slide">
            <picture class="find__photo">
              <source srcset="./img/match.webp" type="image/webp">
              <img loading="lazy" src="./img/match.jpg" class="image" width="480" height="651" alt="photo">
            </picture>
          </div>

          <div class="swiper-slide">
            <picture class="find__photo">
              <source srcset="./img/match.webp" type="image/webp">
              <img loading="lazy" src="./img/match.jpg" class="image" width="480" height="651" alt="photo">
            </picture>
          </div>

        </div>
      </div>

      <div class="find__swiper-button-prev">
        <svg class="find__svg-nav">
          <use xlink:href="img/sprite.svg#left-swiper"></use>
        </svg>
      </div>
      <div class="find__swiper-button-next">
        <svg class="find__svg-nav">
          <use xlink:href="img/sprite.svg#right-swiper"></use>
        </svg>
      </div>

      <div class="find__info">
        <h2 class="find__title">
          <span class="find__name">Laura</span>, <span class="find__age">31</span>
        </h2>

        <p class="find__description">
          Lorem ipsum dolor sit amet, consecteturis adipiscing elit se
          do eiusmod temporata incididunt ut labore et dolore magna
          aliqu. Ullamcorper malesuada consequat proin.
        </p>

        <button class="find__info-btn">
          <svg class="find__info-svg">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>

        <div class="find__controls">
          <button class="find__controls-btn btn--dislike">
            <picture>
              <source srcset="./img/decline.webp" type="image/webp">
              <img loading="lazy" src="./img/decline.png" class="image" width="90" height="90" alt="decline person">
            </picture>
          </button>

          <!-- <button class="find__controls-btn btn--chat">
            <picture>
              <source srcset="./img/chat.webp" type="image/webp">
              <img loading="lazy" src="./img/chat.png" class="image" width="70" height="70" alt="chat with person">
            </picture>
          </button> -->

          <button class="find__controls-btn btn--like">
            <picture>
              <source srcset="./img/like.webp" type="image/webp">
              <img loading="lazy" src="./img/like.png" class="image" width="90" height="90" alt="like person">
            </picture>
          </button>
        </div>
      </div>
    </div>

  </div>
</section>
