<section class="hero">
  <div class="container hero__container">

    <h1 class="hero__title">Relive every new moment</h1>

    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Quisque non tellus orci ac auctor augue. Volutpat
      odio facilisis mauris sit amet massa vitae tortor.
    </p>

    <div class="hero__btns">
      <a href="#" class="btn hero__btns-about">About Us</a>
      <button class="btn hero__btns-signin" data-graph-path="sign-in">Sign In</button>
    </div>

  </div>
</section>
