<section class="profile-matches__tabs">

  <div class="tabs" data-tabs="">
    <ul class="list-reset tabs__nav">
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn" type="button">
          Matches
        </button>
      </li>

      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn" type="button">
          Messages
        </button>
      </li>
    </ul>

    <div class="tabs__content">
      <div class="tabs__panel"></div>
      <div class="tabs__panel"></div>
    </div>

  </div>
</section>
