<div class="matches-tab profile-tabs__container" >

  <ul class="matches-tab__list">

    <li class="matches-tab__item">
      <button class="matches-tab__btn chat-enter" aria-label="Enter chat with Martin" data-chat-id="id of chat with this person">
        <div class="matches-tab__image">
          <picture>
            <source srcset="./img/match-1.webp" type="image/webp">
            <img loading="lazy" src="./img/match-1.jpg" class="image" width="110" height="140" alt="Martin photo">
          </picture>
        </div>
        <h3 class="matches-tab__name">Martin</h3>
      </button>
    </li>


    <li class="matches-tab__item">
      <button class="matches-tab__btn chat-enter" aria-label="Enter chat with Martin" data-chat-id="id of chat with this person">
        <div class="matches-tab__image">
          <picture>
            <source srcset="./img/match-1.webp" type="image/webp">
            <img loading="lazy" src="./img/match-1.jpg" class="image" width="110" height="140" alt="Martin photo">
          </picture>
        </div>
        <h3 class="matches-tab__name">Martin</h3>
      </button>
    </li>

    <li class="matches-tab__item">
      <button class="matches-tab__btn chat-enter" aria-label="Enter chat with Martin" data-chat-id="id of chat with this person">
        <div class="matches-tab__image">
          <picture>
            <source srcset="./img/match-1.webp" type="image/webp">
            <img loading="lazy" src="./img/match-1.jpg" class="image" width="110" height="140" alt="Martin photo">
          </picture>
        </div>
        <h3 class="matches-tab__name">Martin</h3>
      </button>
    </li>


  </ul>

</div>
