<div class="messages-tab profile-tabs__container">

  <div class="messages-tab__message message message--checked">
    <div class="message-avatar messages-tab__avatar">
      <picture>
        <source srcset="./img/avatar2.webp" type="image/webp">
        <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="companion's photo">
      </picture>
    </div>

    <div class="message__body">

      <div class="message__row">
        <h5 class="message__companion">Jordan Anderson</h5>
        <div class="message__time">06:41 AM</div>
      </div>

      <div class="message__row">
        <p class="message__text">
          <span class="message__author">You:</span>
          <span class="message__content">Lorem ipsum dolor sit amet...</span>
        </p>

        <div class="message__checked checked-group">
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="messages-tab__message message message--checked">
    <div class="message-avatar messages-tab__avatar">
      <picture>
        <source srcset="./img/avatar2.webp" type="image/webp">
        <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="companion's photo">
      </picture>
    </div>

    <div class="message__body">

      <div class="message__row">
        <h5 class="message__companion">Jordan Anderson</h5>
        <div class="message__time">06:41 AM</div>
      </div>

      <div class="message__row">
        <p class="message__text">
          <span class="message__author">You:</span>
          <span class="message__content">Lorem ipsum dolor sit amet...</span>
        </p>

        <div class="message__checked checked-group">
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="messages-tab__message message">
    <div class="message-avatar messages-tab__avatar">
      <picture>
        <source srcset="./img/avatar2.webp" type="image/webp">
        <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="companion's photo">
      </picture>
    </div>

    <div class="message__body">

      <div class="message__row">
        <h5 class="message__companion">Jordan Anderson</h5>
        <div class="message__time">06:41 AM</div>
      </div>

      <div class="message__row">
        <p class="message__text">
          <span class="message__author">You:</span>
          <span class="message__content">Lorem ipsum dolor sit amet...</span>
        </p>

        <div class="message__checked checked-group">
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="messages-tab__message message">
    <div class="message-avatar messages-tab__avatar">
      <picture>
        <source srcset="./img/avatar2.webp" type="image/webp">
        <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="companion's photo">
      </picture>
    </div>

    <div class="message__body">

      <div class="message__row">
        <h5 class="message__companion">Jordan Anderson</h5>
        <div class="message__time">06:41 AM</div>
      </div>

      <div class="message__row">
        <p class="message__text">
          <span class="message__author">You:</span>
          <span class="message__content">Lorem ipsum dolor sit amet...</span>
        </p>

        <div class="message__checked checked-group">
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="messages-tab__message message message--checked">
    <div class="message-avatar messages-tab__avatar">
      <picture>
        <source srcset="./img/avatar2.webp" type="image/webp">
        <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="companion's photo">
      </picture>
    </div>

    <div class="message__body">

      <div class="message__row">
        <h5 class="message__companion">Jordan Anderson</h5>
        <div class="message__time">06:41 AM</div>
      </div>

      <div class="message__row">
        <p class="message__text">
          <span class="message__author">You:</span>
          <span class="message__content">Lorem ipsum dolor sit amet...</span>
        </p>

        <div class="message__checked checked-group">
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="messages-tab__message message message--checked">
    <div class="message-avatar messages-tab__avatar">
      <picture>
        <source srcset="./img/avatar2.webp" type="image/webp">
        <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="companion's photo">
      </picture>
    </div>

    <div class="message__body">

      <div class="message__row">
        <h5 class="message__companion">Jordan Anderson</h5>
        <div class="message__time">06:41 AM</div>
      </div>

      <div class="message__row">
        <p class="message__text">
          <span class="message__author">You:</span>
          <span class="message__content">Lorem ipsum dolor sit amet...</span>
        </p>

        <div class="message__checked checked-group">
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="messages-tab__message message message--checked">
    <div class="message-avatar messages-tab__avatar">
      <picture>
        <source srcset="./img/avatar2.webp" type="image/webp">
        <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="companion's photo">
      </picture>
    </div>

    <div class="message__body">

      <div class="message__row">
        <h5 class="message__companion">Jordan Anderson</h5>
        <div class="message__time">06:41 AM</div>
      </div>

      <div class="message__row">
        <p class="message__text">
          <span class="message__author">You:</span>
          <span class="message__content">Lorem ipsum dolor sit amet...</span>
        </p>

        <div class="message__checked checked-group">
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="messages-tab__message message">
    <div class="message-avatar messages-tab__avatar">
      <picture>
        <source srcset="./img/avatar2.webp" type="image/webp">
        <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="companion's photo">
      </picture>
    </div>

    <div class="message__body">

      <div class="message__row">
        <h5 class="message__companion">Jordan Anderson</h5>
        <div class="message__time">06:41 AM</div>
      </div>

      <div class="message__row">
        <p class="message__text">
          <span class="message__author">You:</span>
          <span class="message__content">Lorem ipsum dolor sit amet...</span>
        </p>

        <div class="message__checked checked-group">
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
          <svg class="checked-svg">
            <use xlink:href="img/sprite.svg#checked"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

</div>
