<div class="messages-tab profile-tabs__container">

  <ul class="messages-tab__list">

    <li class="messages-tab__item">
      <button class="message message--checked chat-enter" aria-label="Enter chat with Jordan" data-chat-id="id of chat with this person">
        <div class="message-avatar messages-tab__avatar">
          <picture>
            <source srcset="./img/avatar2.webp" type="image/webp">
            <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="Jordan Anderson photo">
          </picture>
        </div>

        <div class="message__body">

          <div class="message__row">
            <h3 class="message__companion">Jordan Anderson</h3>
            <time class="message__time" datetime="06:41">06:41 AM</time>
          </div>

          <div class="message__row">
            <p class="message__text">
              <span class="message__author">You:</span>
              <span class="message__content">Lorem ipsum dolo ipsum dos sit amet</span>
            </p>

            <div class="message__checked checked-group">

              <svg class="checked-svg">
                <use xlink:href="img/sprite.svg#checked"></use>
              </svg>
              <svg class="checked-svg">
                <use xlink:href="img/sprite.svg#checked"></use>
              </svg>

            </div>
          </div>

        </div>
      </button>
    </li>

    <li class="messages-tab__item">
      <button class="message chat-enter" aria-label="Enter chat with Jordan" data-chat-id="id of chat with this person">
        <div class="message-avatar messages-tab__avatar">
          <picture>
            <source srcset="./img/avatar2.webp" type="image/webp">
            <img loading="lazy" src="./img/avatar2.jpg" class="image" width="45" height="45" alt="Jordan Anderson photo">
          </picture>
        </div>

        <div class="message__body">

          <div class="message__row">
            <h3 class="message__companion">Jordan Anderson</h3>
            <time class="message__time" datetime="06:41">06:41 AM</time>
          </div>

          <div class="message__row">
            <p class="message__text">
              <span class="message__author">You:</span>
              <span class="message__content">Lorem ipsum dolo ipsum dos sit amet</span>
            </p>

            <div class="message__checked checked-group">

              <svg class="checked-svg">
                <use xlink:href="img/sprite.svg#checked"></use>
              </svg>
              <svg class="checked-svg">
                <use xlink:href="img/sprite.svg#checked"></use>
              </svg>

            </div>
          </div>

        </div>
      </button>
    </li>
  </ul>



</div>
