<section class="profile-tabs offset-container" >
  <h2 class="profile-tabs__title visually-hidden">Your Matches and Messages</h2>

  <div class="tabs" data-tabs="chat-tabs">
    <ul class="list-reset tabs__nav">
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn" type="button">
          Matches
        </button>
      </li>

      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn" type="button">
          Messages
        </button>
      </li>
    </ul>

    <div class="tabs__content">
      <div class="tabs__panel">
        @include('matches-tab.html')
      </div>

      <div class="tabs__panel">
        @include('messages-tab.html')
      </div>
    </div>

  </div>

</section>
