<!-- <form action="#" class="avatar__form avatar__form--large"> -->

  <!-- "avatar__form--small" require "avatar__swiper" on page -->
  <form action="#" class="avatar__form avatar__form--small">

  <div class="avatar__form-container">
    <svg class="avatar__form-svg">
      <use xlink:href="img/sprite.svg#plus"></use>
    </svg>

    <input type="file" name="avatar-upload" id="avatar-upload">

    <p class="avatar__form-text">
      Press here to add you avatar and additional photos
    </p>
  </div>

</form>
