<section class="profile">

<!-- header ############################# -->
  @include('./profile-pages/profile__header.html')

<!-- plan section ############################# -->
  @include('./profile-pages/profile__plan.html')

  <!-- add "data-simplebar" attr and max-height to enable scroll -->
  <div class="profile__body">

<!-- avatar states ############################# -->
    <!-- @include('./profile-pages/profile/profile__avatar.html') -->
    <!-- @include('./profile-pages/profile/profile__avatar-edit.html') -->


<!-- profile info states ############################# -->
    <!-- @include('./profile-pages/profile/profile__info.html') -->
    <!-- @include('./profile-pages/profile/profile__info-edit.html') -->

<!-- matches tabs ############################# -->
    @include('./profile-pages/matches/profile-tabs.html')

  </div>
</section>
