<form action="#" class="form sign-in-form sign-in-form--register">

  <div class="sign-in-form__field">
    <label class="sign-in-form__label" for="register-name">
      Email or Phone
    </label>
    <input type="text" name="name" class="input-reset sign-in-form__input" id="register-name" placeholder="Enter your email or phone">
  </div>

  <div class="sign-in-form__field">
    <label class="sign-in-form__label" for="register-password">
      Password
    </label>
    <input type="password" name="password" class="input-reset sign-in-form__input" id="register-password" placeholder="Enter your password">
  </div>

  <div class="sign-in-form__field">
    <label class="sign-in-form__label" for="register-confirm-password">
      Confirm Password
    </label>
    <input type="password" name="password" class="input-reset sign-in-form__input" id="register-confirm-password" placeholder="Enter your password">
  </div>

  <button class="btn sign-in-form__btn" type="submit">Register</button>

</form>
