<div class="chatbox">

  <div class="chatbox__content offset-container" data-simplebar>

    <div class="chatbox__day">
      <h5 class="chatbox__day-title">
        <span class="chatbox__day-timestamp">24.06.2024</span>
      </h5>

      <div class="chatbox__message chatbox__message--incoming">
        <div class="message-avatar chat__avatar">
          <picture>
            <source srcset="./img/avatar2.webp" type="image/webp">
            <img loading="lazy" src="./img/avatar2.jpg" class="image" width="55" height="55" alt="companion's photo">
          </picture>
        </div>

        <p class="chatbox__message-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
        </p>
      </div>

      <div class="chatbox__message chatbox__message--outgoing">
        <p class="chatbox__message-text">
          Amet justo donec enim diam.
        </p>

        <p class="chatbox__message-text">
          Vel risus commodo viverra maecenas accumsan lacus.
        </p>

        <p class="chatbox__message-text">
          Interdum varius sit amet mattis vulputate enim.
        </p>
      </div>

      <div class="chatbox__message chatbox__message--incoming">
        <div class="message-avatar chat__avatar">
          <picture>
            <source srcset="./img/avatar2.webp" type="image/webp">
            <img loading="lazy" src="./img/avatar2.jpg" class="image" width="55" height="55" alt="companion's photo">
          </picture>
        </div>

        <p class="chatbox__message-text">
          Orci a scelerisque purus semper eget duis at tellus at.
        </p>

        <p class="chatbox__message-text">
          Mauris rhoncus aenean vel elit scelerisque mauris.
        </p>
      </div>

    </div>

    <div class="chatbox__day">
      <h5 class="chatbox__day-title">
        <span class="chatbox__day-timestamp">Yesterday</span>
      </h5>

      <div class="chatbox__message chatbox__message--incoming">
        <div class="message-avatar chat__avatar">
          <picture>
            <source srcset="./img/avatar2.webp" type="image/webp">
            <img loading="lazy" src="./img/avatar2.jpg" class="image" width="55" height="55" alt="companion's photo">
          </picture>
        </div>

        <p class="chatbox__message-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
        </p>
      </div>

      <div class="chatbox__message chatbox__message--outgoing">
        <p class="chatbox__message-text">
          Amet justo donec enim diam.
        </p>

        <p class="chatbox__message-text">
          Vel risus commodo viverra maecenas accumsan lacus.
        </p>

        <p class="chatbox__message-text">
          Interdum varius sit amet mattis vulputate enim.
        </p>
      </div>

      <div class="chatbox__message chatbox__message--incoming">
        <div class="message-avatar chat__avatar">
          <picture>
            <source srcset="./img/avatar2.webp" type="image/webp">
            <img loading="lazy" src="./img/avatar2.jpg" class="image" width="55" height="55" alt="companion's photo">
          </picture>
        </div>

        <p class="chatbox__message-text">
          Orci a scelerisque purus semper eget duis at tellus at.
        </p>

        <p class="chatbox__message-text">
          Mauris rhoncus aenean vel elit scelerisque mauris.
        </p>
      </div>

    </div>

    <div class="chatbox__day">
      <h5 class="chatbox__day-title">
        <span class="chatbox__day-timestamp">Today</span>
      </h5>

      <div class="chatbox__message chatbox__message--outgoing">

        <p class="chatbox__message-text">
          Vel risus commodo viverra maecenas accumsan lacus.
        </p>

        <p class="chatbox__message-text">
          Interdum varius sit amet mattis vulputate enim.
        </p>
      </div>

      <div class="chatbox__message chatbox__message--incoming">
        <div class="message-avatar chat__avatar">
          <picture>
            <source srcset="./img/avatar2.webp" type="image/webp">
            <img loading="lazy" src="./img/avatar2.jpg" class="image" width="55" height="55" alt="companion's photo">
          </picture>
        </div>

        <p class="chatbox__message-text">
          Orci a scelerisque purus semper eget duis at tellus at.
        </p>

        <p class="chatbox__message-text">
          Mauris rhoncus aenean vel elit scelerisque mauris.
        </p>
      </div>

    </div>

  </div>

</div>
