<div class="chat-header offset-container">

  <!-- id must contain unique chat id -->
  <button class="nav-btn chat-header__close" id="chat-0-close" aria-label="Close chat">
    <svg class="nav-svg">
      <use xlink:href="img/sprite.svg#arrow-right"></use>
    </svg>
  </button>

  <p class="chat-header__info">
    You became a friend with <b class="chat__name">Jordan</b> on <time class="chat-header__match-date">26.04.2024</time>
  </p>

  <button class="message-avatar chat__avatar">
    <picture>
      <source srcset="./img/avatar2.webp" type="image/webp">
      <img loading="lazy" src="./img/avatar2.jpg" class="image" width="55" height="55" alt="companion's photo">
    </picture>
  </button>

</div>
