<div class="offset-container">
  <div class="profile__info profile__info--guest">

  <!-- All possible fields for guest profile -->

    <div class="profile__info-field" id="guest-title">
      <h2 class="profile__info-title" data-field="title">
        <span id="profile-name">Alex Brandt</span>,
        <span id="profile-age">31</span>
      </h2>
    </div>

    <div class="profile__info-field" id="guest-about">
      <h3 class="profile__info-subtitle">About me:</h3>
      <p class="profile__info-content" data-field="about">
        Lorem ipsum dolor sit amet, consecteturis adipiscing elit se
        do eiusmod temporata incididunt ut labore et dolore magna
        aliqu. Ullamcorper malesuada consequat proin.
      </p>
    </div>

    <div class="profile__info-field" id="guest-gender">
      <h3 class="profile__info-subtitle">Gender:</h3>
      <p class="profile__info-content" data-field="gender">
        Male
      </p>
    </div>

    <div class="profile__info-field" id="guest-preferable">
      <h3 class="profile__info-subtitle">Preferable gender:</h3>
      <p class="profile__info-content" data-field="gender">
        Female
      </p>
    </div>

    <div class="profile__info-field" id="guest-motherland">
      <h3 class="profile__info-subtitle">Place of birth:</h3>
      <p class="profile__info-content" data-field="motherland">
        London, UK
      </p>
    </div>

    <div class="profile__info-field" id="guest-occupation">
      <h3 class="profile__info-subtitle">Occupation:</h3>
      <p class="profile__info-content" data-field="motherland">
        Kitchen furniture
      </p>
    </div>

    <div class="profile__info-field" id="guest-income">
      <h3 class="profile__info-subtitle">Income:</h3>
      <p class="profile__info-content" data-field="motherland">
        $19,800
      </p>
    </div>

    <div class="profile__info-field" id="profile-location">
      <h3 class="profile__info-subtitle">Location:</h3>
      <p class="profile__info-content" data-field="location">
        Frankfurt, Germany
      </p>
    </div>

    <div class="profile__info-field" id="profile-languages">
      <h3 class="profile__info-subtitle">Languages:</h3>
      <p class="profile__info-content" data-field="languages">
        English, German, French
      </p>
    </div>

    <button class="profile__info-btn btn" id="chat-close">Leave Chat with Jordan</button>

  </div>
</div>
