// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --font-sf: "SF UI Display", sans-serif;
  --font-nebulous: "Nebulous Content Regular", sans-serif;
  --font-inter: "Inter Regular", sans-serif;
  --font-sailec: "Sailec Regular", sans-serif;
  --font-orbitron: "Orbitron SemiBold", sans-serif;

  --content-width: 1432px;
  --container-offset: 40px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #000;
  --header-bg-color: rgba(0, 0, 0, 80%);
  --btn-olive-color: #90a895;
  --olive-dark-color: #415b4e;
  --bd-color: #e4e7eb;
}
