// базовые подключения
@import "reset";
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/common";
@import "./components/bg-wrapper";
@import "./components/logo";
@import "./components/nav";
@import "./components/lang-menu";
@import "./components/header";
@import "./components/hero";
@import "./components/sign-in-modal";
@import "./components/sign-in-form";
@import "./components/app-screen";
@import "./components/profile";
