// базовые подключения
@import "reset";
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/common";
@import "./components/tabs";

@import "./components/bg-wrapper";
@import "./components/logo";
@import "./components/nav";
@import "./components/lang-menu";
@import "./components/header";
@import "./components/hero";
@import "./components/sign-in-modal";
@import "./components/sign-in-form";

@import "./components/app-screen";

@import "./components/profile__header";
@import "./components/profile__avatar";
@import "./components/avatar__swiper";
@import "./components/avatar__form";
@import "./components/profile";
@import "./components/profile__info";
@import "./components/profile__info-edit";
@import "./components/profile-tabs";
@import "./components/profile__plan";
@import "./components/matches-tab";
@import "./components/messages-tab";

@import "./components/content";
@import "./components/content__plans";
@import "./components/choose-section";
@import "./components/selected-plan";
@import "./components/find";

@import "./components/chat";
