<section class="profile__plan offset-container hidden">
  <div class="profile__plan-container">
    <div class="profile__plan-row">
      <p class="profile__plan-subtitle">
        Your subscription is:
      </p>

      <button class="profile__plan-close" id="plan-banner-close">
        <svg class="close-svg">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="profile__plan-row">

      <!-- @include('./plan-titles/love-title.html') -->
      <!-- @include('./plan-titles/friends-title.html') -->
      <!-- @include('./plan-titles/work-title.html') -->
      @include('./plan-titles/plan-title-template.html')

    </div>

    <p class="profile__plan-text">
      *Lorem ipsum dolor sit amet, consecteturis adip.
    </p>
  </div>
</section>
